main {
  padding: 55px 130px 10px 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-left {
  width: 830px;
  height: 100%;
}

.main-left__first img {
  width: 833px;
  height: 130px;
  border-radius: 10px;
  margin-top: 5px;
}
.main-right {
  width: 425px;
  height: 130px;
}

.main-right__user {
  width: 430px;
  height: 107px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #e8eaec;
  background-color: none;
  display: flex;
}
.main-right__user-info {
  width: 430px;
  height: 53px;
  border-bottom: 1px solid #e8eaec;
  border-left: 1px solid #e8eaec;
  border-right: 1px solid #e8eaec;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-right__user-info.mail,
.main-right__user-info.cafe {
  border-right: 1px solid #e8eaec;
}

#user-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* margin: 20px 10px 0 15px; */
}
#user-profile-div {
  width: 80px;
  height: 87px;
  padding: 20px 12px 0 15px;
}
.user_info {
  padding-top: 23px;
}

#id {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#user-email {
  margin-top: 10px;
  font-size: 12px;
}
#membership {
  margin-top: 9px;
  width: 70px;
  height: 17px;
  font-size: 10px;
  border-radius: 0;
  cursor: pointer;
}
.user_info__bottom {
  display: flex;
}
#note,
#bean {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin: 12px 0 0 5px;
}
#bean {
  margin-left: 5px;
  border-left: 1px solid #e8eaec;
  padding-left: 5px;
}

#logout {
  width: 90px;
  height: 35px;
  border-radius: 20px;
  margin: 20px 0 0 35px;
  border-color: #e8eaec;
  cursor: pointer;
}
