.right .right__third {
  box-sizing: border-box;
  width: 408.337px;
  height: 250px;
  margin: 10px 0 0 30px;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  color: #747474;
  border: 1px solid var(--border-color);
}
.right__third-first {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration-line: none;
}
#weather {
  display: block;
  color: black;
  margin-right: 10px;
  text-decoration-line: none;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
}
#weather-btn {
  border-radius: 15px;
  background-color: white;
  border: 1px solid var(--border-color);
  width: 80px;
  height: 25px;
  font-size: 11px;
  cursor: pointer;
}
#weather-btn:hover {
  background-color: #f5f7f8;
}

.right__third-second {
  box-sizing: border-box;
  width: 100%;
  height: 175px;
  display: flex;
}
.right__third-second .first {
  display: block;
}
#weather1-a {
  display: block;
  width: 180px;
  padding-top: 15px;
}
#weather1 {
  width: 180px;
}
#weather2-a {
  padding-top: 10px;
  display: block;
}
#weather2 {
  width: 180px;
}
#weather3 {
  width: 190px;
  padding-top: 10px;
}
