.right .right__third {
  box-sizing: border-box;
  width: 408.337px;
  height: 240px;
  margin: 15px 0 0 30px;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  color: #747474;
  border: 1px solid var(--border-color);
}
.right__third-first {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration-line: none;
}

#weather {
  display: block;
  color: black;
  margin-right: 10px;
  text-decoration-line: none;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
}
#weather-btn {
  border-radius: 15px;
  background-color: white;
  border: 1px solid var(--border-color);
  width: 80px;
  height: 25px;
  font-size: 11px;
  cursor: pointer;
}
#weather-btn:hover {
  background-color: #f5f7f8;
}

.right__third-second {
  width: 100%;
  height: 170px;
  display: flex;
}
.right__third-second .first {
  display: block;
}
#weather1-a {
  display: block;
  width: 180px;
  padding-top: 15px;
}
#weather1 {
  width: 180px;
}
#weather2-a {
  padding-top: 10px;
  display: block;
}
#weather2 {
  width: 180px;
}
#weather3 {
  width: 190px;
  padding-top: 10px;
}
.left__third {
  box-sizing: border-box;
  width: 100%;
  min-height: 490px;
  border: 1px solid var(--border-color);
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px 15px 20px 20px;
}
.left__third-first {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.left__third-first-left {
  display: flex;
}
.left__third-first-left a {
  display: block;
  color: black;
  font-size: 17px;
  font-weight: bold;
  text-decoration-line: none;
  padding-right: 15px;
}
.left__third-first-left a:hover {
  text-decoration-line: underline;
}
.left__third-first-left div {
  width: 1px;
  height: 15px;
  background-color: #e6e7e8;
  transform: rotate(20deg);
  margin-right: 10px;
}
.left__third-first-right {
  display: flex;
}
.left__third-first-right div {
  padding: 10px 13px 0 0;
  font-size: 13px;
  font-weight: bold;
}
.left__third-first-right button {
  height: 30px;
  width: 30px;
  font-weight: bold;
  font-size: 13px;
  color: #898f94;
  background-color: white;
  border: 1px solid var(--border-color);
  cursor: pointer;
}
#third-left-btn {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#third-right-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.left__third-second {
  width: 100%;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.left__third-second .left {
  width: 32%;
  max-height: 350px;
}

.left__third-second .left .first {
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  border: 1px solid var(--border-color);
  font-size: 13px;
  padding: 12px 10px 12px 10px;
  border-radius: 5px;
  background-color: #f9fbfc;
}
.left__third-second .left .first .first-first,
.left__third-second .left .first .first-second,
.left__third-second .left .first .first-third {
  display: flex;
}
.left__third-second .left .first .first-first,
.left__third-second .left .first .first-second {
  padding-bottom: 11px;
}
.left__third-second .left .first a {
  box-sizing: border-box;
  display: block;
  color: black;
  text-decoration-line: none;
}
.left__third-second .left .first a:hover {
  text-decoration-line: underline;
}
.left__third-second .left .first .first-first div,
.left__third-second .left .first .first-second div,
.left__third-second .left .first .first-third div {
  width: 2.5px;
  height: 3px;
  background-color: #d4d6d8;
  border-radius: 50%;
}
.left__third-second .left .first .first-first div {
  margin: 5px 16.5px 5px;
}
.left__third-second .left .first .first-second div {
  margin: 5px 3.4px 5px;
}
.left__third-second .left .first .first-third div {
  margin: 5px 14.2px 5px;
}
.left__third-second .left .second {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  margin-top: 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: #f9fbfc;
}
.left__third-second .left .second .first {
  display: flex;
  width: 100%;
  height: 60%;
  border: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.left__third-second .left .second .first a {
  display: block;
  justify-content: center;
  align-items: center;
  width: 30px;
  color: black;
  text-decoration-line: none;
  font-size: 11px;
  margin: 10px 23px 0 0;
}
#review {
  padding-left: 5px;
}
#order {
  padding-left: 10px;
}
#shopping-cart {
  padding-left: 15px;
}
.left__third-second .left .second .first div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid var(--border-color);
  background-color: white;
}
.left__third-second .left .second .second {
  margin: 0;
  width: 100%;
  height: 40%;
  border: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px 0 10px;
}
.left__third-second .left .second .second a {
  display: block;
  border: 0;
  font-size: 12px;
  color: black;
  text-decoration-line: none;
}
.left__third-second .left .second .third {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-top: 15px;
  text-align: center;
  padding: 55px;
}
.left__third-second .left .second .fourth {
  width: 100%;
  height: 76px;
  display: block;
  color: black;
  text-decoration-line: none;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.left__third-second .left .second .fourth:hover {
  text-decoration-line: underline;
}
.left__third-second .right {
  width: 65%;
  max-height: 352px;
}
.left__third-second .right .first,
.left__third-second .right .third {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 120px;
  width: 100%;
}
.left__third-second .right .second,
.left__third-second .right .fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
}
.left__third-second .right .first div,
.left__third-second .right .third div {
  width: 20%;
  height: 120px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-right: 8px;
}
.left__third-second .right a {
  box-sizing: border-box;
  display: block;
  font-size: 13px;
  color: black;
  text-decoration-line: none;
  width: 20%;
  height: 56px;
  margin-right: 8px;
  padding: 10px 0 10px 0;
  line-height: 18px;
}
.left__third-second .right a:hover {
  text-decoration-line: underline;
}

.left__third-third {
  width: 100%;
  height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: #f5f7f8;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}
.left__third-third p {
  margin: 0 10px 0 15px;
  font-size: 14px;
  font-weight: bold;
  background-color: #c4c5c5;
  padding: 5px 0 5px 0;
}
#third_cir {
  width: 3px;
  height: 3px;
  background-color: #d3d7d9;
  border-radius: 50%;
  margin-right: 10px;
}
.left__third-third a {
  display: block;
  font-size: 14px;
  color: black;
  text-decoration-line: none;
}
.left__third-third a:hover {
  text-decoration-line: underline;
}

.left__third-bottom {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  font-size: 14px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#third-bottom-left-btn,
#third-bottom-right-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 3px;
}
#third-bottom-left-btn {
  position: absolute;
  left: 290px;
  top: 10px;
  padding-right: 8px;
}
#third-bottom-right-btn {
  position: absolute;
  top: 10px;
  left: 505px;
  padding-left: 8px;
}
#third-bottom-left-btn:hover,
#third-bottom-right-btn:hover {
  background-color: #f5f7f8;
}
