@import "reset.css";
@import "header.css";
@import "main-first.css";
@import "main-second.css";
@import "main-third.css";
@import "main-fourth.css";
:root {
  --main-color: #03c75b;
  --border-color: #e8eaec;
}

#main-container {
  width: 1290.24px;
  min-height: 100vh;
  margin: 20px auto;
}
